.inspector
{
	position: absolute;
	top: 24px;
	left: 80%;
	right: 0px;
	bottom: 0;
	background-color: rgba(30, 30, 30, 255);
	border-left: 1px rgb(22, 22, 22);
	z-index: 120;
}

.inspector .header
{
	display: block;
	font-weight: bold;
	border-bottom: 1px rgb(22, 22, 22);
	background-color: #333;
	padding: 2px 6px;
	width: 100%;
	box-sizing: border-box;
	decorator: box-shadow(0 -2 5 rgba(0, 0, 0, 50));
}

.inspector .container
{
	position: relative;
	display: block;
	overflow: auto;
	height: 100%;
}

.inspector .container .message
{
	position: absolute;
	display: block;
	text-align: center;
	top: 50%;
	left: 50%;
	font-size: 16px;
	transform: translateX(-50%);
}

.inspector .menu
{
	display: block;
	margin-bottom: 256px;
}

.inspector .menu .message
{
	position: absolute;
	display: block;
	text-align: center;
	top: 50%;
	left: 50%;
	font-size: 16px;
	transform: translateX(-50%);
}

.inspector datagridheader
{
	position: absolute;
	display: none;
	height: 0;
}

.inspector .dynamics
{
	display: block;
	padding: 12px;
	background-color: rgb(25, 25, 25);
	border-bottom: 2px #333;
}

.inspector .dynamics .title
{
	display: block;
	font-weight: bold;
	margin-bottom: 12px;
	color: #b5b5b5;
}

.inspector .dynamics .head
{
	display: block;
}

.inspector .dynamics .head p
{
	float: left;
}

.inspector .dynamics .head button
{
	box-sizing: border-box;
	display: block;
	float: right;
	font-weight: bold;
	color: #999;
}

.inspector .dynamics .head button:hover
{
	color: rgb(73, 120, 255);
	cursor: pointer;
}

.inspector .dynamics .head button:active
{
	color: #999;
}

.inspector .option
{
	position: relative;
	height: 16px;
	padding-left: 16px;
	margin-bottom: 8px;
	gap: 16px;
}

.inspector .option .label
{
	width: 35%;
	vertical-align: middle;
}

.inspector .option .color
{
	position: absolute;
	right: 6px;
	top: 5px;
	width: 14px;
	height: 14px;
}

.inspector .option input
{
	box-sizing: border-box;
}

.inspector .option input.text
{
	width: 100%;
	border: 1px rgb(44, 44, 44);
	background-color: rgb(20, 20, 20);
	border-radius: 6px;
	padding: 2px 4px;
	transition: background-color 0.25s cubic-out;
}

.inspector .option input.text:focus
{
	background-color: rgb(30, 30, 30);
}

.inspector .option input.text:hover
{
	cursor: text;
}

.inspector .option input.range
{
	width: 100%;
	margin-bottom: 5px;
}

.inspector .option input slidertrack
{
	border: 1px rgb(44, 44, 44);
	background-color: rgb(20, 20, 20);
	box-sizing: border-box;
	width: 100%;
	height: 6px;
	padding: 2px;
	transform: translateY(8px) scaleX(0.975);
}

.inspector .option input sliderbar
{
	margin-top: 3px;
	width: 16px;
	height: 16px;
	border-radius: 7px;
	background-color: #ccc;
	z-index: 42;
}

.inspector .option input sliderbar:active
{
	background-color: rgb(73, 120, 255);
}

.inspector .option input sliderbar:hover
{
	cursor: pointer;
}

.inspector .option input.checkbox
{
	border-radius: 4px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	transition: background-color 0.075s linear-out;
}

.inspector .option input.checkbox:hover
{
	cursor: pointer;
}

.inspector .option input.checkbox:checked
{
	background-color: rgb(73, 120, 225);
}

.inspector .option .check
{
	display: block;
	box-sizing: border-box;
	border: 1px rgb(44, 44, 44);
	background-color: rgb(20, 20, 20);
	padding: 2px;
	width: 18px;
	height: 18px;
	border-radius: 4px;
}

.inspector .option .source
{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 24px;
	border: 1px rgb(44, 44, 44);
	background-color: rgb(20, 20, 20);
	border-radius: 6px;
	padding: 2px 4px;
	transition: background-color 0.25s cubic-out;
}

.inspector .option .source:active
{
	background-color: rgb(30, 30, 30);
}

.inspector .option .source:hover
{
	cursor: pointer;
}

.inspector .option textarea
{
	box-sizing: border-box;
	display: block;
	width: 100%;
	border: 1px rgb(44, 44, 44);
	background-color: rgb(20, 20, 20);
	border-radius: 6px;
	padding: 2px 4px;
}

.inspector .option textarea:hover
{
	cursor: text;
}

.inspector .inner
{
	padding-left: 32px;
}

.inspector .submit
{
	display: block;
	padding: 4px;
	width: 35%;
	text-align: center;
	float: right;
	margin-top: 16px;
	margin-right: 12px;
	border: 1px rgb(44, 44, 44);
	border-radius: 6px;
	background-color: rgb(20, 20, 20);
}

.inspector .submit:hover
{
	color: #fff;
	background-color: rgb(73, 120, 225);
	cursor: pointer;
}

.inspector .submit:active
{
	background-color: rgb(20, 20, 20);
}

.inspector .selection
{
	display: block;
	padding: 4px;
	width: 90%;
	text-align: center;
	float: right;
	margin: 0 auto;
	margin-top: 8px;
	border: 1px rgb(44, 44, 44);
	border-radius: 6px;
	background-color: rgb(20, 20, 20);
}

.inspector .selection:hover
{
	color: #fff;
	background-color: rgb(73, 120, 225);
	cursor: pointer;
}

.inspector .selection:active
{
	background-color: rgb(20, 20, 20);
}

.inspector dataselect,
.inspector select
{
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: 1px rgb(44, 44, 44);
	border-radius: 6px;
	background-color: rgb(20, 20, 20);
	padding: 2px 4px;
}

.inspector dataselect:hover,
.inspector select:hover
{
	cursor: pointer;
}

.inspector selectbox
{
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: 1px rgb(44, 44, 44);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: rgb(15, 15, 15);
	padding: 4px;
	transform: translateY(-4px);
}

.inspector selectbox option
{
	padding: 2px 4px;
}

.inspector selectbox option:hover
{
	background-color: rgb(73, 120, 225);
}