.preview
{
	position: absolute;
	top: 22px;
	left: 20%;
	right: 20%;
	bottom: 30%;
}

.preview-status
{
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	padding-left: 8px;
	color: #fff;
	line-height: 20px;
	background-color: #007acc;
	z-index: 130;
}

.preview-active
{
	background-color: #ca5100;
}