@keyframes drag-animation
{
	to
	{
		background-color: rgb(73, 120, 225);
	}
}

.hierarchy
{
	position: absolute;
	top: 24px;
	left: 0px;
	right: 80%;
	bottom: 30%;
	background-color: rgba(30, 30, 30, 255);
	border-right: 1px rgb(22, 22, 22);
	z-index: 120;
}

.hierarchy .header
{
	position: relative;
	display: block;
	font-weight: bold;
	border-bottom: 1px rgb(22, 22, 22);
	background-color: #333;
	padding: 2px 6px;
	width: 100%;
	box-sizing: border-box;
	decorator: box-shadow(0 -2 5 rgba(0, 0, 0, 50));
	z-index: 100;
}

.hierarchy .header button
{
	display: block;
	position: absolute;
	top: 1px;
	right: 6px;
}

.hierarchy .header button:hover
{
	color: rgb(73, 120, 255);
	cursor: pointer;
}

.hierarchy .header button:active
{
	color: #ccc;
}

.hierarchy .entities
{
	display: block;
	width: 100%;
	height: 100%;
}

.hierarchy .menu
{
	position: relative;
}

.hierarchy .menu .message
{
	position: absolute;
	display: block;
	text-align: center;
	top: 50%;
	left: 50%;
	font-size: 16px;
	transform: translateX(-50%);
}

.hierarchy datagridheader
{
	position: absolute;
	height: 0;
}

.draggable
{
	drag: clone;
}

.hierarchy-item
{
	display: block;
	padding: 2px 8px;
}

.hierarchy-button
{
	display: block;
	padding: 4px 6px;
	border-radius: 3px;
}

div:drag .hierarchy-button
{
	border-radius: 4px;
	animation: 0.5s cubic-in-out infinite alternate drag-animation;
}

.hierarchy-button:hover
{
	background-color: rgb(73, 120, 225);
	cursor: pointer;
}

.hierarchy .selected
{
	background-color: #333;
	color: #fff;
}